<div class="row">

  <h3>Master</h3>

  <div class="small-12 columns">
    <div class="row">
      <div class="small-3 columns">
        <label class="right inline">Root HD Private Key</label>
      </div>
      <div class="small-9 columns">
        <input type="text" ng-model="xpriv" ng-change="updatePrivate(privateKey.BTC)">
        <button type="button" ng-click="newKey()">New</button>
      </div>
    </div>
  </div>

  <div class="small-12 columns">
    <div class="row">
      <div class="small-3 columns">
        <label class="right inline">Root HD Public Key</label>
      </div>
      <div class="small-9 columns">
        <input type="text" ng-model="xpub" ng-change="updatePublic(publicKey.BTC)">
      </div>
    </div>
  </div>

  <h3>Derivation</h3>

  <div class="small-12 columns">
    <div class="row">
      <div class="small-1 columns">
        <label class="right inline">Path</label>
      </div>
      <div class="small-3 small-pull-8 columns">
        <input type="text" ng-model="path">
      </div>
    </div>
  </div>

  <div class="small-12 columns">
    <div class="small-6 columns">

      <div class="row" ng-repeat="node in keys">

        <div class="row"> <!-- Repeat key -->
          <div class="small-6 columns">
            Path: {{node.path}}
          </div>
          <div class="small-6 columns">
            <a ng-hide="node.visible" ng-click="node.visible = true">More info</a>
            <a ng-show="node.visible" ng-click="node.visible = false">Less info</a>
          </div>
        </div>
        <div class="row" ng-show="node.visible">
          <span>HDPrivateKey:</span> <input type="text" value="{{node.xpriv.toString()}}" readonly/>
          <span>Private Key</span> <input type="text" value="{{node.xpriv.privateKey.toString()}}" readonly/>

          <span>HDPublicKey</span> <input type="text" value="{{node.xpub.toString()}}" readonly/>
          <span>Public Key</span> <input type="text" value="{{node.xpub.publicKey.toString()}}" readonly/>
          <span>Address</span> <input type="text" value="{{node.xpub.publicKey.toAddress().toString()}}" readonly/>
        </div>

      </div>

    </div>
    <div class="small-5 columns">
      Graph
    </div>
  </div>

  <div>
  </div>
</div>

<div class="row">
  <h3>This is how it works</h3>
  <div class="large-6 columns">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <div class="large-4 columns">
    <code>
      var private = bitcore.HDPrivateKey().derive('m/123/123');
    </code>
  </div>
</div>
