<div class="row">
  <div class="small-8 columns content-title">
    <h1>Keys Demo</h1>
  </div>
  <div class="small-4 columns text-right">
    <a href="{{serialize()|permalink:'keys'}}" class="share-link fnt08"><i class="fi-share"></i> SHARE THIS</a>
  </div>
</div>

<!--White box starts--> 
<div class="row collapse bg-color-white white-box radius plr25por">
  <div class="row">
      <div class="small-12 columns">
        <h2 class="text-center">Master</h2>
      </div>
  </div>
  <div class="small-12 columns input-title">
    <div class="row collapse">
      <div class="small-2 columns input-title text-left mb5">
        <span class="prefix prefix-clean">Root HD Private Key</span>
      </div>
      <div class="small-9 columns">
        <input type="text" ng-model="xpriv" ng-change="updatePrivate(xpriv)" xprivate-key auto-select>
      </div>
      <div class="small-1 columns">
        <button type="button" ng-click="newKey()" class="random-button postfix radius tiny white m0"></button>
      </div>
    </div> 
    <div class="row collapse">
      <div class="small-2 columns input-title text-left">
        <span class="prefix prefix-clean">Root HD Public Key</span>
      </div>
      <div class="small-10 columns">
        <input type="text" ng-model="xpub" ng-change="updatePublic(xpub)" xpublic-key auto-select>
      </div>
    </div>
  </div>
</div>
<!--White box ends--> 

<!--White box starts--> 
<div class="row collapse bg-color-white white-box radius plr25por">
  <div class="row">
      <div class="small-12 columns">
        <h2 class="text-center">Derivation</h2>
      </div>
  </div>
  <div class="row">

    <div class="small-4 columns">
      <div class="row collapse">
        <div class="small-3 large-2 columns input-title">
          <span class="prefix-clean prefix">Path</span>
        </div>
        <div class="small-7 large-10 columns">
          <input type="text" ng-model="path" ng-change="updatePath(path)" path auto-select>
        </div>
      </div>

      <div class="row" ng-repeat="node in keys">

        <div class="row capsule-inside radius p5 mt5"> <!-- Repeat key -->
          <div ng-click="node.visible = !node.visible">
            <div class="small-7 columns">
              <span class="fnt08"><b>Path:</b> {{node.path}}</span>
            </div>
            <div class="small-5 columns text-right">
              <div class="more-info fnt0">
                <a ng-hide="node.visible" class="fnt06">More info</a>
              </div>
              <div class="less-info">
                <a ng-show="node.visible" class="fnt06">Less info</a>
              </div>
            </div>
          </div>
        <div class="row p20tb" ng-show="node.visible">
          <div class="small-12 columns">
            <div class="row pt10">
              <div class="small-6 columns">
                <p class="data-more-info">HDPrivateKey:</p>
              </div>
              <div class="small-6 columns">
                <input type="text" value="{{node.xpriv.toString()}}" readonly auto-select/>
              </div>  
            </div>
            <div class="row pt10">
              <div class="small-6 columns">
                <p class="data-more-info">Private Key</p> 
              </div>
              <div class="small-6 columns">
                <input type="text" value="{{node.xpriv.privateKey.toString()}}" readonly auto-select/>
              </div>
            </div> 
            <div class="row pt10">
              <div class="small-6 columns">
                <p class="data-more-info">HDPublicKey</p>
              </div>
              <div class="small-6 columns">
                <input type="text" value="{{node.xpub.toString()}}" readonly auto-select/>
              </div>
            </div> 
            <div class="row pt10">            
              <div class="small-6 columns"> 
                <p class="data-more-info">Public Key</p>
              </div>     
              <div class="small-6 columns">
                <input type="text" value="{{node.xpub.publicKey.toString()}}" readonly auto-select/>
              </div> 
            </div> 
            <div class="row pt10">  
              <div class="small-6 columns"> 
                <p class="data-more-info">Address</p>
              </div>     
              <div class="small-6 columns">
                <input type="text" value="{{node.xpub.publicKey.toAddress().toString()}}" readonly auto-select/>
              </div>  
            </div>
          </div>
        </div>
        </div>
      </div>


    </div>

    <div class="small-8 columns">
      <h3>Graphic</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="explanation">
    <h3 class="fnt1">This is how it works</h3>
    <div class="large-5 columns">
      <p>BIP32 is a proposal to improve the bitcoin ecosystem that established a standard way to generate multiple private keys from a seed of random bits and a path. This example shows how to use the bitcore API to obtain deterministic, hierarchically-derived private and public keys from a seed value.</p>
      <p><a href=”http://bitcore.io/guide/hierarchical.html”>Read more in the bitcore developer guide</a>.</p>
    </div>
    <div class="large-7 columns">
      <pre><code class="javascript" example-code="exampleCode">
      </code></pre>
    </div>
  </div>
</div>
