<html>
<head>
  <title>Bitcore Keys | Multisig Demo</title>
  <script src="./lib/jquery.min.js"></script>
  <script src="./lib/bitcore.min.js"></script>
  <script src="./lib/angular.js"></script>
  <script src="./multisig.js"></script>
</head>
<body ng-app="multisigApp">
  <h1>Bitcore Multisig Demo</h1>
  <p>
    This is a demo of the multisig functionality on bitcore
    <a href="http://bitcore.io/guide/privatekey.html">bitcore development guide</a>.
  </p>


  <h2>Keys</h2>
  <div ng-controller="keysCtrl">
    <input type="checkbox" id="testnet" ng-model="checkNetwork">Testnet Network<br>
        <span>Private Key</span>, <span>Public Key</span>
    <ul>
      <li ng-repeat="key in keys">
        <span><input ng-model="key.privKey" ng-change="updatePriv($index)">, </span>
        <span>Public: <input ng-model="key.pubKey" ng-change="updatePub($index)"></span>
        <button class="remove" ng-click="remove($index)">Remove</button>
      </li>
    </ul>
        <button id="new" ng-click="add()">Add</button>
    <div>
      Required Signatures: <select ng-model="threshold" ng-options="num for num in Range()"></select> 
    </div>
    <div>
      <input type="checkbox" id="sorted" disabled="disabled" checked=checked>Sorted<br>
    </div>

    <h3>Address</h3>
    <div>
      <input ng-model="address" type="text" placeholder="Bitcoin address" readonly="readonly"/>
    </div>
  </div>

  <p>Powered by <a href="http://bitcore.io/">bitcore.io</a></p>

</body>
</html>
