<div class="row collapse">
  <div class="large-9 small-7 columns content-title">
    <h1>Address</h1>
  </div>
  <ng-include src="'components/network.html'"/>

</div>
<div class="row collapse pb20">
  <div class="small-12 columns">
    <p>Address generation from a private or public key.</p>
  </div>
</div>

<!--White box starts--> 
  <div class="row collapse bg-color-white white-box radius plr25por">
    <div class="small-3 large-2 columns input-title-priv">
      <span class="prefix">PRIVATE KEY</span>
    </div>
    <div class="small-7 large-9 columns">
      <input type="text" placeholder="Hex format" ng-model="privateKey" ng-change="privateUpdated(privateKey)" private-key auto-select/>
    </div>
    <div class="small-2 large-1 columns">
      <button type="button" ng-click="newKey()" class="postfix radius button1 fnt12"> <i class="fi-die-five fnt12"></i></button>
    </div>
  </div>
  <!--White box ends--> 




<!--Flow down starts--> 
  <div class="row">
    <div class="small-12 columns">
      <div class="code-spot mt20">
         <span data-tooltip aria-haspopup="true" class="has-tip [tip-top tip-bottom tip-left tip-right] [radius round]" title="Tooltips are awesome, you should totally use them!"><a href="#"><img src="../img/transp-box.svg"></a></span>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="small-12 columns">
      <div class="mb20">
        <img src="../img/arrow-down.svg">
      </div>
    </div>
  </div>
  <!--Flow down ends--> 


<!--White box starts--> 
  <div class="row collapse bg-color-white white-box radius plr25por">
    <div class="small-3 large-2 columns input-title-pub">
      <span class="prefix">PUBLIC KEY</span>
    </div>
    <div class="small-9 large-10 columns">
      <input id="publicKey" type="text" placeholder="Hex format" ng-model="publicKey" ng-change="publicUpdated(publicKey)" public-key auto-select/>
    </div>
  </div>
  <!--White box ends--> 

<!--Flow down starts--> 
  <div class="row">
    <div class="small-12 columns">
      <div class="code-spot mt20">
         <span data-tooltip aria-haspopup="true" class="has-tip [tip-top tip-bottom tip-left tip-right] [radius round]" title="Tooltips are awesome, you should totally use them!"><a href="#"><img src="../img/transp-box.svg"></a></span>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="small-12 columns">
      <div class="mb20">
        <img src="../img/arrow-down.svg">
      </div>
    </div>
  </div>
  <!--Flow down ends--> 


  <!--White box starts--> 
 <div class="row collapse bg-color-white white-box radius plr25por">
    <div class="small-3 large-2 columns input-title-btcad">
      <span class="prefix">ADDRESS</span>
    </div>
    <div class="small-9 large-10 columns">
      <input id="address" type="text" placeholder="Bitcoin address" value="{{publicKey.toAddress().toString()}}" readonly auto-select/>
    </div>
  </div>
  <!--White box ends--> 

<div class="explanation">
  <div class="row collapse">
    <div class="small-12 columns">
      <h3 class="fnt1">This is how it works</h3>
    </div>
  </div>
  <div class="row collapse">
    <ng-include src="'components/code.html'"></ng-include>
    <a href="http://bitcore.io/guide/privatekey"><button type="button" class="button tiny radius button1"><span class="icon-docs"></span> Read more in the bitcore developer guide</button></a>
  </div>
</div>
