<div class="row">
  <div class="small-8 columns content-title">
    <h1>Address</h1>
    <p>Address generation from a private or public key.</p>
  </div>
  <div class="small-4 columns text-right">
    <a href="{{serialize()|permalink:'keys'}}" class="share-link fnt08"><i class="fi-share"></i> SHARE THIS</a>
  </div>
</div>

<!--White box starts--> 
  <div class="row collapse bg-color-white white-box radius plr25por">
    <div class="small-3 large-2 columns input-title-priv">
      <span class="prefix">PRIVATE KEY</span>
    </div>
    <div class="small-7 large-9 columns">
      <input type="text" placeholder="Hex format" ng-model="privateKey" ng-change="privateUpdated(privateKey)" private-key auto-select/>
    </div>
    <div class="small-2 large-1 columns">
      <button type="button" ng-click="newKey()" class="postfix radius button1 fnt12"> <i class="fi-die-five fnt12"></i></button>
    </div>
  </div>
  <!--White box ends--> 

<!--Flow down starts--> 
  <div class="row text-center">
    <div class="small-12 columns">
      <div class="mb20">
        <img src="../img/arrow-down.svg">
      </div>
    </div>
  </div>
  <!--Flow down ends--> 

<!--White box starts--> 
  <div class="row collapse bg-color-white white-box radius plr25por">
    <div class="small-3 large-2 columns input-title-pub">
      <span class="prefix">PUBLIC KEY</span>
    </div>
    <div class="small-9 large-10 columns">
      <input id="publicKey" type="text" placeholder="Hex format" ng-model="publicKey" ng-change="publicUpdated(publicKey)" public-key auto-select/>
    </div>
  </div>
  <!--White box ends--> 

<!--Flow down starts--> 
  <div class="row text-center">
    <div class="small-12 columns">
      <div class="mb20">
        <img src="../img/arrow-down.svg">
      </div>
    </div>
  </div>
  <!--Flow down ends--> 


  <!--White box starts--> 
 <div class="row collapse bg-color-white white-box radius plr25por">
    <div class="small-3 large-2 columns input-title-btcad">
      <span class="prefix">ADDRESS</span>
    </div>
    <div class="small-9 large-10 columns">
      <input id="address" type="text" placeholder="Bitcoin address" value="{{publicKey.toAddress().toString()}}" readonly auto-select/>
    </div>
  </div>
  <!--White box ends--> 

<div class="explanation">
  <div class="row collapse">
    <div class="small-12 columns">
      <h3 class="fnt1">This is how it works</h3>
    </div>
  </div>
  <div class="row collapse">
    <p>Managing private keys is something your bitcoin app will almost certainly need to do. From a private key (which is merely a number between 1 and <tt>0xFFFF FFFF FFFF FFFF FFFF FFFF FFFF FFFE BAAE DCE6 AF48 A03B BFD2 5E8C D036 4140</tt>) you can get an associated public key. A bitcoin address is merely the hash of that public key.</p>
    <pre>
      <code class="javascript" example-code="exampleCode"></code>
    </pre>
    <p><a href="http://bitcore.io/guide/privatekey.html">Read more in the bitcore developer guide</a>.</p>
  </div>
</div>
