<div class="row collapse">
  <div class="large-9 small-7 columns content-title">
    <h1>Address</h1>
  </div>
  <ng-include src="'components/network.html'"/>

</div>
<div class="row collapse pb20">
  <div class="small-12 columns">
    <p>Address generation from a private or public key.</p>
  </div>
</div>

<!--White box starts--> 
  <div class="row collapse bg-color-white white-box radius p20">
    <div class="small-5 large-2 columns input-title">
      <span class="prefix prefix-clean fnt1"><span class="icon-private-key fnt16 center-text"></span> PRIVATE KEY</span>
    </div>
    <div class="small-6 large-9 columns">
      <input type="text" placeholder="Hex format" ng-model="privateKey" ng-change="privateUpdated(privateKey)" private-key auto-select/>
    </div>
    <div class="small-1 large-1 columns">
      <div class="row collapse">
        <div class="small-11 small-offset-1 columns">
          <button type="button" ng-click="newKey()" class="postfix radius button3 fnt12"> <i class="fi-die-five fnt12"></i></button>
        </div>
      </div>
    </div>

  </div>
  <!--White box ends--> 

<!--Flow down starts--> 
  <div class="row text-center mb20 mt20">
    <div class="small-12 columns">
      <span class="icon-arrow-down fnt20 center-text"></span>
    </div>
  </div>
  <!--Flow down ends--> 


<!--White box starts--> 
  <div class="row collapse bg-color-white white-box radius p20">
    <div class="small-5 large-2 columns input-title">
      <span class="prefix prefix-clean fnt1"><span class="icon-public-key fnt16 center-text"></span> PUBLIC KEY</span>
    </div>
    <div class="small-7 large-10 columns">
      <input id="publicKey" type="text" placeholder="Hex format" ng-model="publicKey" ng-change="publicUpdated(publicKey)" public-key auto-select/>
    </div>
  </div>
  <!--White box ends--> 

<!--Flow down starts--> 
  <div class="row text-center mb20 mt20">
    <div class="small-12 columns">
      <span class="icon-arrow-down fnt20 center-text"></span>
    </div>
  </div>
  <!--Flow down ends--> 


  <!--White box starts--> 
 <div class="row collapse bg-color-white white-box radius p20">
    <div class="small-5 large-2 columns input-title">
      <span class="prefix prefix-clean fnt1"><span class="icon-qr-solid fnt16 center-text"></span> ADDRESS</span>
    </div>
    <div class="small-9 large-10 columns">
      <input id="address" type="text" placeholder="Bitcoin address" value="{{publicKey.toAddress().toString()}}" readonly auto-select/>
    </div>
  </div>
  <!--White box ends--> 

<div class="explanation">
  <div class="row collapse">
    <div class="small-12 columns">
      <h3 class="fnt1">This is how it works</h3>
    </div>
  </div>
  <div class="row collapse">
    <ng-include src="'components/code.html'"></ng-include>
    <a href="http://bitcore.io/guide/privatekey"><button type="button" class="button tiny radius button1"><span class="icon-docs"></span> Read more in the bitcore developer guide</button></a>
  </div>
</div>
