<div class="explanation">
  <div class="row collapse">
    <div class="small-12 columns">
      <h3 class="fnt1">This is how it works</h3>
    </div>
  </div>
  <div class="row collapse">
    <ng-include src="'components/code.html'"></ng-include>
  </div>
  <div class="row collapse">
    <h3 class="fnt1">Read more</h3>
    <a href="{{bitcoreURL}}">
      <button type="button" class="button tiny radius button1"><span class="icon-docs"></span> bitcore developer guide</button>
    </a>
    <a href="{{bitcoinURL}}">
      <button type="button" class="button tiny radius button1"><span class="icon-btc-solid"></span> Bitcoin developer guide</button>
    </a>
  </div>
</div>
