<div class="row" require-modal>
  <div class="small-8 columns content-title">
    <h1>Unspent Outputs</h1>
    <p>Retrieve all the UTXOs associated with a bitcoin address</p>
  </div>
  <div class="small-4 columns text-right">
    <a href="{{serialize()|permalink:'unspent'}}" class="share-link fnt08"><i class="fi-share"></i> Permalink for the current state</a>
  </div>
</div>

<div class="row">
  <h2 class="text-center">Address</h2>    
  <div class="columns small-8">
    <input type="text" ng-model="utxoAddress" placeholder="enter an address" class="radius" address auto-select> 
  </div>
  <div class="columns small-4">
    <button type="button" ng-click="fetchUTXO(utxoAddress)" class="button expand tiny radius button1 mt5">Fetch</button>
  </div>
</div>
<div ng-show="utxos">
  <div class="row" ng-repeat="utxo in utxos">
    <div class="small-12 columns">
        <div class="text-center">
          <span class="item-title">Amount:</span> <span class="amount item-data">{{utxo.satoshis|btc}}<span class="btc"> BTC</span></h1>
        </div>
        <div class="fnt08 mt5"><span class="item-title">TX ID:</span> <span class="item-data fntgrey1">{{utxo.txId}}</span></div>
        <div class="fnt08 mt5"><span class="item-title">OUT #:</span> <span class="item-data fntgrey1">{{utxo.outputIndex}}</span></div>
        <div class="fnt08 mt5"><span class="item-title">Script:</span> <span class="item-data fntgrey1">{{utxo.script.toString()}}</span></div>
      </div>
  </div>
</div>

<div class="explanation">
  <div class="row collapse">
    <div class="small-12 columns">
      <h3 class="fnt1">This is how it works</h3>
    </div>
  </div>
  <div class="row collapse">
      <p>Unspent outputs are ...</p>
      <pre>
        <code class="javascript" example-code="exampleCode"></code>
      </pre>
      <p><a href="http://bitcore.io/guide/unit.html">Read more in the bitcore developer guide</a>.</p>
  </div>
</div>
