<div class="row collapse" require-modal>
  <div class="large-9 small-7 columns content-title">
    <h1>Unspent Outputs</h1>
  </div>
  <ng-include src="'components/network.html'"/>

</div>
<div class="row collapse pb20">
  <div class="small-12 columns">
    <p>Retrieve all the UTXOs associated with a bitcoin address</p>
  </div>
</div>

<div class="row bg-color-white p20">
  <div class="row collapse">
    <div class="columns small-10">
      <input type="text" ng-model="utxoAddress" placeholder="enter an address" class="radius" address auto-select ng-change="addressUpdated(utxoAddress)">
    </div>
    <div class="columns small-2">
      <button type="button" ng-click="fetchUTXO(utxoAddress)" class="button expand tiny radius button1">Fetch</button>
    </div>
  </div>

  <div class="row unspentitem" ng-repeat="utxo in utxos" ng-show="utxos">
    <h1 class="amount fnt09">{{utxo.satoshis|btc}}<span class="btc"> BTC</span></h1>
    <div class="fnt08 mt5"><span class="item-title">TX ID:</span> <span class="item-data fntgrey1">{{utxo.txId}}</span></div>
    <div class="fnt08 mt5"><span class="item-title">OUT #:</span> <span class="item-data fntgrey1">{{utxo.outputIndex}}</span></div>
    <div class="fnt08 mt5"><span class="item-title">Script:</span> <span class="item-data fntgrey1">{{utxo.script.toString()}}</span></div>
    <a href="{{utxo.url}}">See transaction on Insight</a>
  </div>
</div>


<div class="explanation">
  <div class="row collapse">
    <div class="small-12 columns">
      <h3 class="fnt1">This is how it works</h3>
    </div>
  </div>
  <div class="row collapse">
      <pre>
        <code class="javascript" example-code="exampleCode"></code>
      </pre>
      <p><a href="http://bitcore.io/guide/unit.html">Read more in the bitcore developer guide</a>.</p>
  </div>
</div>
