<div class="row collapse" require-modal>
  <div class="large-9 small-7 columns content-title">
    <h1>Unspent Outputs</h1>
  </div>
  <ng-include src="'components/network.html'"/>

</div>
<div class="row collapse pb20">
  <div class="small-12 columns">
    <p>Retrieve all the UTXOs associated with a bitcoin address</p>
  </div>
</div>

<div class="row bg-color-white p20">
  <div class="row collapse">
    <div class="columns small-10">
      <input type="text" ng-model="utxoAddress" placeholder="enter an address" class="radius" address auto-select ng-change="addressUpdated(utxoAddress)">
    </div>
    <div class="columns small-2">
      <div class="row collapse">
        <div class="small-11 small-offset-1">
          <button type="button" ng-click="fetchUTXO(utxoAddress)" class="button expand tiny radius button1">Fetch</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row collapse" ng-repeat="utxo in utxos" ng-show="utxos">
    <div class="small-12 columns capsule-inside mt10 plr10 p10 radius">
      <div class="coin-in-box">
        <div class="icon-coin v-align fnt20 pr5"></div>
      </div>
      <h1 class="amount fnt09 ml10">{{utxo.satoshis|btc}}<span class="btc"> BTC</span></h1>
      <div class="fnt07 mt2 ml10"><span class="item-title">TX ID:</span> <span class="item-data fntgrey1">{{utxo.txId}}</span></div>
      <div class="fnt07 mt2 ml10"><span class="item-title">OUT #:</span> <span class="item-data fntgrey1">{{utxo.outputIndex}}</span></div>
      <div class="fnt07 mt2 ml10"><span class="item-title">Script:</span> <span class="item-data fntgrey1">{{utxo.script.toString()}}</span></div>
    </div>
  </div>
  <div class="row text-center">
    <div class="small-12 columns mt10">
      <button type="button" class="radius button4">See transaction on <span class="insight fnt14">Insight</span></button>
    </div>    
  </div>
</div>


<div class="explanation">
  <div class="row collapse">
    <div class="small-12 columns">
      <h3 class="fnt1">This is how it works</h3>
    </div>
  </div>
  <div class="row collapse">
      <ng-include src="'components/code.html'"></ng-include>
      <a href="http://bitcore.io/guide/module/explorers/index.html"><button type="button" class="button tiny radius button1"><span class="icon-docs"></span> Read more in the bitcore developer guide</button></a>
  </div>
</div>
