  /* reset foundation */

  /*body{max-width:1000px !important;}*/

  body{
  	font-family: 'Ubuntu';
  	}

  label.inline {margin: 0 0 0 0;}
  input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  	margin: 0 0 0 0
  }
  input[type="file"], input[type="checkbox"], input[type="radio"], select {
    margin: 0 0 0.5rem 0;
}

a {
    color: #BD1900;
}

a:hover {
    color: #E7280A;
}

button, .button{
	margin: 0px 0px 0rem;

}

input.ng-invalid {
  background-color: pink !important;
  border: 1px dashed red;
}

.row { 
	  max-width: 100% !important; }
	}

.ng-cloak { display: none !important;}

 /* reset hljs */
 .hljs { 
 	padding: 30px;
 	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
 }

 code { 
 	border-width: 0px;
 	 }

 /* bg colors */
 .bg-color-black2 { background-color: #3A3A3A;}
 .bg-color-red1 { background-color: #BD1900;}
 .bg-color-gray1 { background-color: #F6F6F6;}
 .bg-color-gray2 { background-color: #F1EFEF;}
 .bg-color-white { background-color: #FFFFFF;}

 .red-test { background-color: #D0021B;}
 .green-test { background-color: green;}

/* fonts */
@font-face {
font-family: 'Ubuntu-Light';
font-style: normal;
font-weight: 300;
src: local('Ubuntu Light'), local('Ubuntu-Light'), url(../fonts/ubuntu-light.woff) format('woff');
}
@font-face {
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
src: local('Ubuntu'), url(../fonts/ubuntu.woff) format('woff');
}
@font-face {
font-family: 'Ubuntu-Bold';
font-style: normal;
font-weight: 700;
src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(../fonts/ubuntu-bold.woff) format('woff');
}
@font-face {
font-family: 'Ubuntu-BoldItalic';
font-style: italic;
font-weight: 700;
src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'), url(../fonts/ubuntu-bold-italic.woff) format('woff');
}

/* Paddings and margins */
.p0 {padding: 0rem 0rem 0rem;}
.p5 {padding: 5px;}
.p10 {padding: 10px;}
.p20 {padding: 20px;}
.p30 {padding: 30px;}
.p60 {padding: 60px;}
.pt5 {padding-top: 5px}
.pt10 {padding-top: 10px}
.pt20 {padding-top: 20px}
.pb10 {padding-bottom: 10px}
.pb20 {padding-bottom: 20px}
.p3tb {padding: 3px 0px;}
.p10tb {padding: 10px 0px;}
.p60tb {padding: 60px 0px;}
.p60rf {padding: 0 60px;}
.pt10 {padding-top: 10px;}
.plr25por {padding: 2% 5%;}
.plr2por {padding-top: 2%; padding-bottom: 2%;}
.no-pr {padding-right: 0 !important;}
.m0 {margin: 0px 0px 0rem;}
.mt5 {margin-top: 5px !important;}
.mb5 {margin-bottom: 5px !important;}
.mt20 {margin-top: 20px;}
.mb20 {margin-bottom: 20px;}
.ml10por {margin-left: 10%;}
.mr10por {margin-right: 10%;}
.m50 {margin: 50px;}
.m5 {margin: 5px;}

.100pr {
	display: block;
    width: 100% !important;
}

/* Font Size */

.fnt06{
	font-size: 0.6em
}
.fnt07{
	font-size: 0.7em
}

.fnt08{
	font-size: 0.8em
}
.fnt09{
	font-size: 0.9em
}
.fnt1{
	font-size: 1em
}

.fnt12{
	font-size: 1.2em
}

/* Font Color */
.fntwhite{
	color: #FFFFFF;
}

.fntgrey1{
	color: #999999;
}

.border-top{
	border-top: 1px solid #F1EFEF;
}

.border-bottom{
	border-bottom: 1px solid #F1EFEF;
}

.uppercase{
text-transform: uppercase;
}

/* Radius corners */
.rdt3{
-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
}

/* Main Layout */
.main-sidebar{
 width: 220px;
 	} 	

.main-content	{
 	margin-left: 220px;
 	 	}

.examples {
  min-height: 600px;
}


/* Header */
#header {
	 font-family: "Ubuntu-Light"!important;
	 padding: 14px 0 0 0;
}

.v-align{
	vertical-align: middle;
		}

.playground-logo{
	font-family: "Ubuntu-Light"!important;
	font-style: italic;
	color: #A0A1A0;
	font-size: 1.3em;
	margin: 0 0 0 2px;
	vertical-align: middle;
	}

#nav-hd li {
display: inline-block;
font-size: 0.8em;
margin: 10px 29px;
}

#nav-hd li a{
color: #6B6B6A;
}

#nav-hd li a:hover{ color: #A39F9A;}

 .docs a, .docs a:hover, .api a, .api a:hover, .github a, .github a:hover{
background-repeat: no-repeat;
} 

.docs a{ background-image: url("../img/doc-icon.svg");
background-position: top left;
padding: 4px 0 4px 25px;
}
.docs a:hover{ background-image: url("../img/doc-icon.svg");
background-position: bottom left;
} 

.api a{ background-image: url("../img/api-icon.svg");
background-position: top left;
padding: 4px 0 4px 25px;
}
.api a:hover{ background-image: url("../img/api-icon.svg");
background-position: 2px left;
} 

.github a{ background-image: url("../img/githubcat-icon.svg");
background-position: top left;
padding: 4px 0 4px 35px;
}
.github a:hover{ background-image: url("../img/githubcat-icon.svg");
background-position: bottom left;
}

/* Sidebar menu */
.switch-txt-opt{
	font-family: "Ubuntu-Light"!important;
	padding: 0 5px 15px 5px !important;
	vertical-align: middle;
} 

.menu{ 
	 font-family: "Ubuntu";
	font-family: "Ubuntu-Light"!important;
}

ul.menu{ 
	margin-left: 0rem;
	} 

.menu li{ 
	list-style-type:none;
	margin: 10px 0;
	} 

.menu li a{ 
	color:#000000;
	} 

.menu li a:hover{ 
	color:#BD1900;
	} 

 .units a, .units a:hover, .keys a, .keys a:hover, .hdkeys a, .hdkeys a:hover, .multisig a, .multisig a:hover, .transaction a, .transaction a:hover{
background-repeat: no-repeat;
padding: 4px 0 4px 40px;
} 

.units a{ background-image: url("../img/btc-nav.svg");
background-position: top left;
}
.units a:hover{ background-image: url("../img/btc-nav.svg");
background-position: bottom left;
} 

.keys a{ background-image: url("../img/key-nav.svg");
background-position: top left;
}
.keys a:hover{ background-image: url("../img/key-nav.svg");
background-position: bottom left;
} 

.hdkeys a{ background-image: url("../img/keyring-nav.svg");
background-position: top left;
}
.hdkeys a:hover{ background-image: url("../img/keyring-nav.svg");
background-position: bottom left;
} 

.multisig a{ background-image: url("../img/qr-nav.svg");
background-position: top left;
}
.multisig a:hover{ background-image: url("../img/qr-nav.svg");
background-position: bottom left;
} 

.transaction a{ background-image: url("../img/arrows-nav.svg");
background-position: top left;
}
.transaction a:hover{ background-image: url("../img/arrows-nav.svg");
background-position: bottom left;
} 

/* Buttons */

.button1{
	border: 1px solid #979797;
	background-color: #FFFFFF;
	color: #979797;
	text-transform: uppercase;
	} 
 
 .button1:hover {
	border: 1px solid #000000;
	color: #000000;
	background-color: #F8F7F7;
	} 

.button2{
	border: 1px solid #979797;
	background-color: #FFFFFF;
	color: #979797;
	text-transform: uppercase;
	padding: 0.4rem 0.6rem 0.4rem;
	background-image: url("../img/arrow-right-small-single.svg");
	background-position: right 5px center;
	background-repeat: no-repeat;
	} 
 
 .button2:hover {
	border: 1px solid #000000;
	color: #000000;
	background-color: #F8F7F7;
	} 		

/* Content menu */

.section-title{

	} 

#content{

} 

.ubuntu-bold{
	font-family: "Ubuntu-Bold";
} 

.content-title h1{
	font-size: 1.4em;
	margin-bottom: 30px;
	font-family: "Ubuntu-Bold";
} 

.share-link{
	margin-bottom: 30px;
	font-family: "Ubuntu-Bold";
} 

a.share-link{
	color: ;
} 

.white-box{
} 

.white-box input{
	background-color: #F5F4F4;

	font-size: 0.8em;
} 

.white-box h2{
	text-transform: uppercase;	
	font-family: "Ubuntu-Bold";
	font-size: 1em;
	padding: 0 0 20px 0;
} 

.vertical-sep{
	border-right: 1px solid #F1EFEF;
	} 

.v-divider { 
	border-left: 1px solid red;
	 }

.key-title{
	font-family: "Ubuntu-Bold";
	font-size: 1em;
	margin: 0;
		} 

.prefix-clean	 {		
		background-color: #FFFFFF !important;
		border-color: #FFFFFF !important; 
		text-align: left;
		} 	

.input-title-priv span, .input-title-pub span, .input-title-btcad span, .input-title {	
	background-repeat: no-repeat;
	background-position: center left;
	font-family: "Ubuntu-Bold";
	font-size: 1em;
	border: none;
	background-color: #FFFFFF;
		} 	

.input-title-priv span{	
	background-image: url("../img/private-key-icon.svg");
		} 

.input-title-pub span{	
	background-image: url("../img/public-key-icon.svg");
		} 

.input-title-btcad span{	
	background-image: url("../img/btc-icon-address.svg");
		} 

.input-title {	
		} 			

.code-spot{
	} 	

.code-spot a{
	display: block;
	height: 23px;
	width: 22px;
	background-image: url("../img/code-spot.svg");
	margin: 0 auto;
	text-align: center;
	} 	

.code-spot a:hover{ 
	background-image: url("../img/code-spot.svg");
	background-position: bottom center;
} 

.capsule-inside{ 
	border: 1px solid #ECECEF; 
} 

.more-info, .less-info{ 
	text-transform: uppercase;
	} 

.more-info a, .less-info a, .close a{ 
	color: #979797;
	} 

.more-info a{ 
	} 

.less-info a{ 
	} 	

.more-info a:hover, .less-info a:hover, .close a:hover{ 
	color: #1A1B1A;  
	} 	


.data-more-info{
		text-transform: uppercase;
		font-family: "Ubuntu-Bold";
		font-size: 0.7em;
		} 	

.more-info-content ul{
	list-style: none;
		} 	

.inline{ 
	display:inline-block;
	} 

.inline{ 
	display:inline-block;
	} 	

.explanation{
margin:20px 0px 20px 0px;
padding:20px 0;
border-top: 1px solid #EDEEF1;
} 

.explanation h3{
background-image: url("../img/gear-icon-title.svg");
background-repeat: no-repeat;
background-position: center left;
font-family: "Ubuntu-Bold";
text-transform: uppercase;
padding: 20px 0 20px 40px;
} 

.explanation p{
	font-size: 0.9em
} 

.item-title, .amount{
	font-family: "Ubuntu-Bold" !important;
	} 



.item-data, .btc{
	font-family: "Ubuntu-Light" !important;
	} 
 
.check{
	color: #7ED321 !important;
	}  


 /* Buttons */

.random-button {
   background-color: #FFFFFF;
   border: solid 1px ;
   border-color: #E2DFDF;
  }

  .random-button:hover{ 
   border: solid 1px ;
   background-color: #F5F4F4;
   border-color: #979797;
  }

  .remove-button{ 
   background-image: url("../img/remove-icon.svg");
   background-repeat: no-repeat;
   background-position: top center;	
 	background-color: transparent;
   display: block;
   height: 10px;
   width: 10px;
  }

   .remove-button:hover{ 
   background-color: transparent;
   background-position: bottom center;	
  }

 /* Terminal */

  /* The console container element */
  #console {
    width: 100%;
    height: 250px;
    overflow-y: scroll;
    background-color: #3A3A3A;
    font-size: 1.2em;
  }

  #console::-webkit-scrollbar {
    display: none;
  }

  #console div div {
    position: relative !important;
  }

  #console div:first-child {
    position: inherit !important;
    word-wrap: break-word;
  }

  /* The inner console element. */
  .jqconsole {
      padding: 10px;
  }
  /* The cursor. */
  .jqconsole-cursor {
      background-color: #AAA;
  }
  /* The cursor color when the console looses focus. */
  .jqconsole-blurred .jqconsole-cursor {
      background-color: #666;
  }

  .jqconsole-blurred .jqconsole-cursor.blink {
    background-color: #AAA;
  }
  /* The current prompt text color */
  .jqconsole-prompt {
      color: #0d0;
  }
  /* The command history */
  .jqconsole-old-prompt {
      color: #0b0;
      font-weight: normal;
  }
  /* The text color when in input mode. */
  .jqconsole-input {
      color: #dd0;
  }
  /* Previously entered input. */
  .jqconsole-old-input {
      color: #bb0;
      font-weight: normal;
  }
  /* The text color of the output. */
  .jqconsole-output {
      color: white;
  }

  .jqconsole-undefined {
      color: gray;
  }

  .jqconsole-error {
      color: red;
  }

#terminaltab, #terminaltab-sticky {
	display: block;
	width: 80px;
	height: 50px;
	background-image: url("../img/terminal-icon.svg");
	background-repeat: no-repeat;
	background-position: center center;
  float: left;
  margin-top: -50px;
	} 

#terminaltab-sticky {
  position: fixed;
  bottom: 0;
}

#terminal-content{
font-family: Monaco, "Courier New", Courier, monospace !important;
	} 	

.footer {
  border-top: solid 1px #6B6B6A;
  padding-top: 22px;
}
