@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?qybl56');
	src:url('fonts/icomoon.eot?#iefixqybl56') format('embedded-opentype'),
		url('fonts/icomoon.woff?qybl56') format('woff'),
		url('fonts/icomoon.ttf?qybl56') format('truetype'),
		url('fonts/icomoon.svg?qybl56#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-terminal:before {
	content: "\e60b";
}

.icon-tree-solid:before {
	content: "\e60a";
}

.icon-api:before {
	content: "\e600";
}

.icon-arrow-down:before {
	content: "\e61a";
}

.icon-arrow-left:before {
	content: "\e61b";
}

.icon-arrow-right:before {
	content: "\e61c";
}

.icon-arrow-up:before {
	content: "\e61d";
}

.icon-btc-solid:before {
	content: "\e601";
}

.icon-checked:before {
	content: "\e61e";
}

.icon-close:before {
	content: "\e61f";
}

.icon-coin:before {
	content: "\e602";
}

.icon-docs:before {
	content: "\e603";
}

.icon-double-arrow-solid:before {
	content: "\e604";
}

.icon-gear:before {
	content: "\e620";
}

.icon-github:before {
	content: "\e605";
}

.icon-keyring-solid:before {
	content: "\e606";
}

.icon-lab-solid:before {
	content: "\e607";
}

.icon-plus:before {
	content: "\e621";
}

.icon-private-key:before {
	content: "\e622";
}

.icon-public-key-solid:before {
	content: "\e608";
}

.icon-public-key:before {
	content: "\e623";
}

.icon-qr-solid:before {
	content: "\e609";
}

.icon-user-plus:before {
	content: "\e624";
}

.icon-user:before {
	content: "\e625";
}

