<div class="row" require-equalizer>
  <div class="small-8 columns content-title">
    <h1>Multisig Addresses</h1>
  </div>
  <div class="small-4 columns text-right">
    <a href="{{serialize()|permalink:'keys'}}" class="share-link fnt08"><i class="fi-share"></i> SHARE THIS</a>
  </div>
</div>



    <div class="row" data-equalizer>
      <div class="small-9 columns bg-color-white radius" data-equalizer-watch  ng-repeat="key in keys">
        
        <div class="row">
          <div class="small-2 columns">
            <div class="row">
              <div class="small-4 columns">
                <a href="" ng-click="remove($index)"><i class="fi-x"></i></a>
              </div>  
              <div class="small-8 columns">
                <img src="../img/user-icon.svg" class="">
              </div>  
            </div>
          </div> 
          <div class="small-4 columns">
            <div class="row">
              <div class="small-3 columns">
                <img src="../img/private-key-icon.svg">
              </div>
              <div class="small-9 columns">
                <h3 class="key-title">Private Key</h3>
                  <div class="row">
                    <div class="small-12 columns">
                      <div class="row collapse">
                        <div class="small-10 columns">
                          <input ng-model="key.privKey" ng-change="updatePriv($index)" type="text" class="radius">
                        </div>
                        <div class="small-2 columns">
                          <button ng-click="randPriv($index)" class="postfix radius button1 fnt12"> <i class="fi-die-five fnt12"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="small-1 columns">
            <img src="../img/arrow-right.svg">
          </div> 
          <div class="small-4 columns parent">
            <div class="row child">
              <div class="small-3 columns">
                <img src="../img/public-key-icon.svg">
              </div>
              <div class="small-9 columns">
                <h3 class="key-title">Public Key</h3>
                <input ng-model="key.pubKey" ng-change="updatePub($index)" type="text" class="radius">
              </div>
            </div>
          </div>
          <div class="small-1 columns">
            <img src="../img/arrow-right.svg">
          </div> 
        </div> 

        </div>
      <div class="small-3 columns" data-equalizer-watch>
        <div class="row">
          <div class="small-11 large-offset-1 columns">
            <div class="row bg-color-white radius">
              <div class="small-2 columns">
                <img src="../img/btc-icon-address.svg">
              </div>
              <div class="small-10 columns">
                <h3 class="key-title">Bitcoin Address</h3>
                <input ng-model="address" type="text" placeholder="Bitcoin address" readonly="readonly"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<div class="row">
  <div class="large-6 columns">




    <div class="row">
      <div class="large-3 columns">
        <button id="new" ng-click="add()">Add</button>
      </div>
      <div class="large-9 columns">
        Required Signatures: <select ng-model="threshold" ng-options="num for num in Range()"></select>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="explanation">
    <h3 class="fnt1">This is how it works</h3>
    <div class="large-5 columns">
      <p>“2014 is the year of multisig” said Gavin Andresen at Bitcoin2014 in Amsterdam. Bitcore provides an easy to use interface to create an address for which funds can only be redeemed if signed by the owners of the private keys corresponding to a subset of public keys. This interactive example allows you to create an address from a set of public or private keys.</p>
      <p><a href="http://bitcore.io/guide/transaction.html#Multisig_Transactions">Read more in the bitcore developer guide</a>.</p>
    </div>
    <div class="large-7 columns">
      <pre><code class="javascript" example-code="exampleCode">
      </code></pre>
    </div>
  </div>
</div>
