<div class="row collapse">
  <div class="large-9 small-7 columns content-title">
    <h1>Multisig Address</h1>
  </div>
  <ng-include src="'components/network.html'"/>

</div>
<div class="row collapse pb20">
  <div class="small-12 columns">
    <p>Derive a bitcoin address that requires several signatures to spend it's funds.</p>
  </div>
</div>

<!-- Bitcoin Address -->
<div class="row bg-color-white collapse radius p20">
  <div class="large-2 small-4 columns">
    <div class=""><span class="icon-qr-solid fnt24 pr10 v-align"></span>Bitcoin Address</div>
  </div>
  <div class="large-10 small-8 columns">
    <input ng-model="address" type="text" placeholder="Bitcoin address" readonly="readonly"/>
  </div>
</div>

<!-- Total Keys and Required Signatures -->
<div class="row collapse pt10 pb10">
  <div class="large-6 columns">
    <div class="row collapse">
      <div class="large-11 columns">
        Total Key:
        <select ng-model="totalKeys" ng-options="num for num in totalKeysRange()" ng-change="setKeyAmount(totalKeys)"></select>
      </div> 
    </div> 
  </div>
  <div class="large-6 columns">
    <div class="row collapse">
      <div class="large-11 large-offset-1 columns">
        Required Signatures:
        <select ng-model="threshold" ng-options="num for num in signaturesRange()" class="small radius"></select>
      </div> 
    </div> 
  </div> 
    </div> 
     
  </div>
</div>

<!-- Repeat Keys -->
<div class="row collapse" ng-repeat="key in keys">
  <div class="large-12 columns">
  <div class="row bg-color-white collapse radius p20 mb5">
  <!-- Remove Key -->
  <div class="large-1 small-2 columns">
    <a href="" ng-click="remove($index)"><i class="fi-x center-text pr10 link1 "></i></a><span class="icon-user fnt21 center-text">
  </div>

  <!-- Private Key -->
  <div class="large-5 small-5 columns">
    <div class="row collapse">
      <div class="large-4 small-8 columns">
        <h3 class="key-title"><span class="icon-private-key fnt21 center-text"></span>Private Key</h3>
      </div>
      <div class="large-7 small-3 columns">
        <input ng-model="key.privKey" ng-change="updatePriv($index)" type="text" class="radius">
      </div>
      <div class="large-1 small-1 columns">
        <div class="row collapse">
          <div class="small-11 small-offset-1 columns">
            <button ng-click="randPriv($index)" class="postfix radius button3 fnt12"> <i class="fi-die-five fnt12"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Arrow -->
  <div class="large-1 small-1 columns text-center">
    <span class="icon-arrow-right fnt21"></span>
  </div>

  <!-- Private Key -->
  <div class="large-5 small-4 columns">
    <div class="row collapse">
      <div class="large-4 small-8 columns">
        <h3 class="key-title"><span class="icon-public-key fnt21 center-text"></span>Public Key</h3>
      </div>
      <div class="large-8 small-4 columns">
        <input ng-model="key.privKey" ng-change="updatePriv($index)" type="text" class="radius">
      </div>
    </div>
  </div>

</div>

</div>

</div>

<button type="button" id="new" ng-click="add()" class="expand button tiny radius button1"><i class="fi-plus"></i> add</button>




<div class="explanation">
  <div class="row collapse">
    <div class="small-12 columns">
      <h3 class="fnt1">This is how it works</h3>
    </div>
  </div>
  <div class="row collapse">
    <ng-include src="'components/code.html'"></ng-include>
    <a href="http://bitcore.io/guide/transaction.html#Multisig_Transactions"><button type="button" class="button tiny radius button1"><span class="icon-docs"></span> Read more in the bitcore developer guide</button></a>
  </div>
</div>
