<html>
<head>
  <title>Bitcore Playground | Transaction Demo</title>
  <script src="../lib/bitcore.min.js"></script>
  <script src="../lib/angular.js"></script>
  <script src="./index.js"></script>
</head>
<body ng-app="transactionApp">
  <h1>Bitcore Transaction Demo</h1>
  <p>
    This is a demo of the transaction class for bitcore, see the
    <a href="http://bitcore.io/guide/transaction.html">bitcore development guide</a> for more information.
  </p>


  <h2>Transaction</h2>
  <div ng-controller="tranCtrl">

    <div>
      <h3>In (amount: {{transaction._inputAmount | btc}})</h3>
    <ul>
      <li ng-repeat="input in transaction.inputs">{{input}}</li>
    </ul>
    </div>

    <div>
      <h3>Out (amount: {{transaction._outputAmount | btc}})</h3>
      <ul>
        <li ng-repeat="output in transaction.outputs">{{output}}</li>
      </ul>
    </div>

    <div><h3>Input management</h3>
      <div>
        <h4>From address:</h4>
        <form ng-submit="fromAddress()">
          <input ng-model="fromAddressData.address" placeholder="Address">
          <button type="submit"></button>
        </form>
      </div>

      <div>
        <h4>Sign with:</h4>
        <form ng-submit="signWith()">
          <input ng-model="signWithData.privkey" placeholder="Private Key">
          <button type="submit"></button>
        </form>
        <h4>Known private keys</h4>
        <ul>
          <li ng-repeat="privkey in privateKeys">{{privkey}}</li>
        </ul>
      </div>
    </div>

    <div>
      <h3>Outputs</h3>
      <div>
        <h4>To</h4>
        <form name="form" ng-submit="addAddress()">
          <input ng-model="addToAddress.address" placeholder="Address"></input>
          <input ng-model="addToAddress.amount" type="number" placeholder="Amount (satoshis)"></input>
          <button type="submit"></button>
        </form>
      </div>
      <div>
        <h4>Append data (OP_RETURN)</h4>
        <form name="form_data" ng-submit="addData()">
          <input ng-model="addData.data">
          <input ng-model="addData.isHexa" type="checkbox">
          <button type="submit"></button>
        </form>
      </div>
    </div>
  <textarea ng-model="lines" cols=120 rows=20>
  </textarea>

  </div>

  </div>








  <!--

    <input type="checkbox" id="testnet" ng-model="checkNetwork">Testnet Network<br>
        <span>Private Key</span>, <span>Public Key</span>
    <ul>
      <li ng-repeat="key in keys">
        <span><input ng-model="key.privKey" ng-change="updatePriv($index)">, </span>
        <span>Public: <input ng-model="key.pubKey" ng-change="updatePub($index)"></span>
        <button class="remove" ng-click="remove($index)">Remove</button>
      </li>
    </ul>
        <button id="new" ng-click="add()">Add</button>
    <div>
      Required Signatures: <select ng-model="threshold" ng-options="num for num in Range()"></select> 
    </div>
    <div>
      <input type="checkbox" id="sorted" disabled="disabled" checked=checked>Sorted<br>
    </div>

    <h3>Address</h3>
    <div>
      <input ng-model="address" type="text" placeholder="Bitcoin address" readonly="readonly"/>
    </div>
  </div>
  -->

  <p>Powered by <a href="http://bitcore.io/">bitcore.io</a></p>

</body>
</html>
