<div class="row">
  <div class="small-8 columns content-title">
    <h1>Bitcore Transaction Demo</h1>
  </div>
  <div class="small-4 columns text-right">
    <a href="{{serialize()|permalink:'keys'}}" class="share-link fnt08"><i class="fi-share"></i> SHARE THIS</a>
  </div>
</div>

<div class="row">
  <div class="small-4 columns bg-color-white white-box radius plr25por">
    <div class="row">
      <div class="small-12 columns">
        <h2 class="text-center">Unspent Outputs</h2>    
        <!-- Fetch unspent form -->
        <input type="text" ng-model="utxoAddress" placeholder="enter an address" class="radius"> 
        <button type="button" ng-click="fetchUTXO(utxoAddress)" class="button expand tiny radius button1">Fetch</button>
        
          <div class="row" ng-repeat="utxo in utxos">
            <div class="capsule-inside p5 m5">
             {{utxo.satoshis|btc}}<br>
              <button type="button" ng-click="addUTXO(utxo)" class="button expand radius button2 fnt06"><i class="arrow-right"></i> Move to inputs</button>
              <div ng-show="utxo.visible">
                TX ID: {{utxo.txId}}<br>
                OUT #: {{utxo.outputIndex}}<br>
                Script: {{utxo.script.toString()}}
              </div>
              <div class="more-info fnt06 mt5 border-top">
                <a ng-hide="utxo.visible" ng-click="utxo.visible = true">More info</a>
              </div>
              <div class="less-info fnt06 mt5">
                <a ng-show="utxo.visible" ng-click="utxo.visible = false">Less info</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="small-8 columns">
    <div class="row">
      <div class="small-11 small-offset-1 columns bg-color-white white-box radius plr25por">
        <h2 class="text-center">Transaction</h2>
          <div class="row border-bottom">
            <div class="small-6 columns  pt10 pb10">
              <span class="item-title">TX ID:</span> <span class="item-data fntgrey1">{{transaction.id}}</span>
            </div>
            <div class="small-6 columns text-right pt10 pb10">
              <span class="item-title">nLockTime:</span> <span class="item-data fntgrey1">{{transaction.nLockTime}}</span>
            </div>
          </div>
          <div class="row border-bottom">
            <div class="small-6 columns pt10 pb10">
              <span class="item-title">Total Inputs:</span> <span class="item-data fntgrey1">{{transaction._inputAmount | btc}}</span>
            </div>
            <div class="small-6 columns pt10 pb10">
              <div class="row">
                <div class="small-6 columns">
                  <span class="item-title">Total Outputs: </span> <span class="item-data fntgrey1">{{transaction._outputAmount | btc}}</span>
                </div>
                <div class="small-6 columns text-right">
                  <span class="item-title">Fee:</span> <span class="item-data fntgrey1"> {{transaction.getFee() | btc}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="small-6 columns vertical-sep mt20">
              <h2 class="text-center">Inputs</h2>

              <!-- Sign inputs form -->
              <div class="row collapse">
                <div class="small-3 columns input-title">
                  <span class="prefix-clean prefix">Sign all input</span>
                </div>
                <div class="small-8 columns">
                  <input type="text" placeholder="enter a private key" ng-model="privkey">
                </div>
              </div>
              <div class="row collapse">
                <div class="small-8 small-offset-4 columns">
                  <button type="button" ng-click="signWith(privkey)" class="expand radius tiny button1">Sign</button>
                </div>
              </div>

              <div class="row" ng-repeat="input in transaction.inputs">
                <div class="row">
                  <div class="small-4 columns">{{input.output.satoshis|btc}}</div>
                  <div class="small-2 columns">
                    <a ng-hide="input.visible" ng-click="input.visible = true">More Info</a>
                    <a ng-show="input.visible" ng-click="input.visible = false">Less Info</a>
                  </div>
                  <div class="small-1 columns" ng-show="input.isFullySigned()"><span>SIGNED</span></div>
                  <div class="small-1 columns" ng-hide="input.isFullySigned()"><span>NOT SIGNED</span></div>
                  <div class="small-1 columns"><a ng-click="removeInput(input)">X</a></div>
                </div>

                <div class="row" ng-show="input.visible">
                  TX ID: {{input.prevTxId.toString('hex')}}<br>
                  OUT #: {{input.outputIndex}}<br>
                  Script: {{input.output.script.toString()}}
                </div>
              </div>
            </div>

            <div class="small-6 columns mt20">
              <h2 class="text-center">Outputs</h2>

              <div class="row">
                <div class="small-6 columns">
                  <button type="button" ng-click="displayAddAddress = !displayAddAddress" class="expand button tiny radius button1"><i class="fi-plus"></i> Add Address</button>
                  <div class="small-4 small-push-1 columns" ng-show="displayAddAddress">
                    <input type="text" ng-model="toAddress" placeholder="enter an address">
                    <input type="text" ng-model="amount" placeholder="enter an amount">
                    <button type="button" ng-click="addAddressOutput(toAddress, amount)">Send to Address</button>
                  </div>
                </div>
                <div class="small-6 columns">
                  <button type="button" ng-click="displayAddData = !displayAddData" class="expand button tiny radius button1"><i class="fi-plus"></i> Add Data</button>
                  <div class="small-4 small-push-1 columns" ng-show="displayAddData">
                    <input type="text" ng-model="info" placeholder="enter an hexa or normal string">
                    <button type="button" ng-click="addDataOutput(info)">+ Add Data</button>
                  </div>
                </div>
              </div>

              <div class="row" ng-repeat="output in transaction.outputs">
                <div class="row">
                  <div class="small-4 columns" ng-show="output.script.isScriptHashOut() || output.script.isPublicKeyHashOut()">
                    {{output.satoshis|btc}} to {{output.script.toAddress().toString()}}
                  </div>
                  <div class="small-4 columns" ng-show="output.script.isDataOut()">
                    OP_RETURN with data: 0x{{output.script.getData().toString('hex')}}
                  </div>
                  <div class="small-4 columns" ng-hide="output.script.isScriptHashOut() || output.script.isPayToPublicKeyHash() || output.script.isDataOut">
                    {{output.satoshis|btc}} to an unrecognized script
                  </div>
                  <div class="small-2 columns">
                    <a ng-hide="output.visible" ng-click="output.visible = true">More Info</a>
                    <a ng-show="output.visible" ng-click="output.visible = false">Less Info</a>
                  </div>
                  <div class="small-1 columns"><a ng-click="removeOutput($index)">X</a></div>
                </div>

                <div class="row" ng-show="output.visible">
                  Script: {{output.script.toString()}}
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="small-11 small-offset-1 columns bg-color-white white-box radius plr25por mt5">
        <div class="row">
          <textarea rows=5>Transaction</textarea>
        </div>
</div>
  </div>
  </div>
</div>

<!-- UTXO fetch
  <h3>Input management</h3>
  <div>
    <h4>From address:</h4>
    <form ng-submit="fromAddress()">
      <input ng-model="fromAddressData.address" placeholder="Address">
      <button type="submit"></button>
    </form>
  </div>
-->
<!-- UTXO fetch
  <div>
    <h4>Sign with:</h4>
    <form ng-submit="signWith()">
      <input ng-model="signWithData.privkey" placeholder="Private Key">
      <button type="submit"></button>
    </form>
  </div>
 -->
 <!-- Add TO Output
  <div>
    <h4>To</h4>
    <form name="form" ng-submit="addAddress()">
      <input ng-model="addToAddress.address" placeholder="Address"></input>
      <input ng-model="addToAddress.amount" type="number" placeholder="Amount (satoshis)"></input>
      <button type="submit"></button>
    </form>
  </div>
-->
<!-- Add OP_RETURN Output
  <div>
    <h4>Append data (OP_RETURN)</h4>
    <form name="form_data" ng-submit="addData()">
      <input ng-model="addData.data">
      <input ng-model="addData.isHexa" type="checkbox">
      <button type="submit"></button>
    </form>
  </div>
-->

<div class="row">
  <div class="explanation">
    <h3 class="fnt1">This is how it works</h3>
    <div class="large-5 columns">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="large-7 columns">
      <pre><code class="javascript" example-code="exampleCode">
      </code></pre>
    </div>
  </div>
</div>
